.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 99;
}

.corner-ribbon.sticky {
    position: fixed
}

.corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.corner-ribbon.blue {
    background: #39d
}

#weatherPop {
    box-shadow: 0px 0px 15px #ccc;
    width: 414px;
    height: 736px;
    margin: 0 auto;
    background: url("/img/bg.png") center center no-repeat;
    position: relative;
}

#weatherPop .col-lg-12 {
    padding: 0;
    position: relative;
    height: 100%
}

#weatherPop .topbanner {
    background: #dcdcdc;
    height: 76px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.75
}

#weatherPop .topbanner h2 {
    color: #000;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin: 0
}

#weatherPop .zipmodal {
    position: absolute;
    top: 120px;
    width: 80%;
    margin: 0 42px 0 42px;
    background: #fff;
    border-radius: 4px;
}

#weatherPop .zipfield {
    position: absolute;
    bottom: 120px;
    width: 250px;
    margin-left: 86px;
}

#weatherPop .bottombanner {
    background: #fff;
    width: 100%;
    height: 76px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0
}

#weatherPop .bottombanner p {
    text-align: center
}
